.plan-banner-img {
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
}

@media (min-width: 724px) {
  .plan-banner-img {
    background-image: url("../assets/plan/tablet/image-hero-blackcup.jpg");
  }
}

@media (min-width: 1440px) {
  .plan-banner-img {
    background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
  }
}

.about-us-img {
  background-image: url(../assets/about/mobile/image-hero-whitecup.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .about-us-img {
    background-image: url(..//assets//about/tablet/image-hero-whitecup.jpg);
  }
}

@media (min-width: 1440px) {
  .about-us-img {
    background-image: url(../assets/about/desktop/image-hero-whitecup.jpg);
  }
}

.commitment-img {
  background-image: url("../assets/about/mobile/image-commitment.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .commitment-img {
    background-image: url("../assets/about/tablet/image-commitment.jpg");
  }
}

@media (min-width: 1440px) {
  .commitment-img {
    background-image: url("../assets/about/desktop/image-commitment.jpg");
  }
}

.quality-img {
  background-image: url("../assets/about/mobile/image-quality.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .quality-img {
    background-image: url("../assets/about/tablet/image-quality.jpg");
  }
}

@media (min-width: 1440px) {
  .quality-img {
    background-image: url("../assets/about/desktop/image-quality.jpg");
  }
}

.quality-bg-img {
  background-image: url("../assets/about/mobile/bg-quality.png");
  background-size: cover;
}

@media (min-width: 768px) {
  .quality-bg-img {
    background-image: url("../assets/about/tablet/bg-quality.png");
  }
}

@media (min-width: 1440px) {
  .quality-bg-img {
    background-image: url("../assets/about/desktop/bg-quality.png");
  }
}

.create-plan-img {
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .create-plan-img {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
  }
}

@media (min-width: 1440px) {
  .create-plan-img {
    background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
  }
}
