@import "tailwindcss";
@import "./styles/responsiveImg.css";
@import "./styles/utility.css";

@font-face {
  font-family: "Fraunces";
  src:
    url("../src/assets/fonts/Fraunces-9ptBlack.woff2") format("woff2"),
    url("../src/assets/fonts/Fraunces-9ptBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src:
    url("../src/assets/fonts/Barlow-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --system-font:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --neutral-900: #343e4c;
  --neutral-500: #848990;
  --neutral-200: #e1ddda;
  --neutral-100: #f4f1eb;
  --neutral-50: #fefcf6;
  --neutral-0: #ffffff;
  --teal-300: #66d2cf;
  --teal-600: #0e8684;

  --orange-200: #fdd6ba;

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;

  font-family: var(--system-font);
}

.circle {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid var(--teal-600);
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coffee-icon-logo > g > path:first-child {
  fill: var(--neutral-0);
}

.collection-gradient {
  background-image: linear-gradient(var(--neutral-500), var(--neutral-0));
  color: transparent;
  background-clip: text;
}

.footer-icon > path:hover {
  fill: var(--orange-200);
}
