@import "tailwindcss";

@font-face {
  font-family: "Fraunces";
  src:
    url("../src/assets/fonts/Fraunces-9ptBlack.woff2") format("woff2"),
    url("../src/assets/fonts/Fraunces-9ptBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src:
    url("../src/assets/fonts/Barlow-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --system-font:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --neutral-900: #343e4c;
  --neutral-500: #848990;
  --neutral-50: #fefcf6;

  --radius-12: 12px;

  font-family: var(--system-font);
}

@utility text-preset-1 {
  font-family: "Fraunces";
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-1-mobile {
  font-family: "Fraunces";
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-4 {
  font-family: "Fraunces";
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}

@utility text-preset-6 {
  font-family: "Barlow";
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
}

@utility text-preset-8 {
  font-family: "Fraunces";
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.92px;
}

.plan-banner-img {
  background-image: url("../src/assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
}

@media (min-width: 724px) {
  .plan-banner-img {
    background-image: url("../src/assets/plan/tablet/image-hero-blackcup.jpg");
  }
}

@media (min-width: 1024px) {
  .plan-banner-img {
    background-image: url("../src/assets/plan/desktop/image-hero-blackcup.jpg");
  }
}
